{% extends "__layout.twig" %}
{% import "macros.html" as macros %}
{% block content %} 
        <div class="container">
            <h1>Это {{title}} </h1>
        </div>
        
    <div class="container"></div>
        <ul class="list-group">
            <li class="list-group-item">
                <ul class="nav nav-pills">
                    <li class="nav-item">                       
                        {{ macros.btn('Картинка', '/'~ name~'/image',active_item.url_image == url ? 'active') }}
                    </li>
                    <li class="nav-item">
                        {{macros.btn('Описание', '/'~ name~ '/info',active_item.url_info == url ? 'active' ) }}
                    </li>
                </ul>
            </li>
        {% block objectContent %}

        {% endblock %}
    </div>
{% endblock %}

