{% extends "__object.twig" %}

{% block objectContent %}
<div class="container mt-2">
    <div class="p-2 border rounded">
        <img src="{{ image }}"  width="1000" height="600" alt="">
    </div>
</div>
{% endblock %}